<%= form_with(model: routine) do |form| %>
  <% if routine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(routine.errors.count, "error") %> prohibited this routine from being saved:</h2>

      <ul>
        <% routine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sets %>
    <%= form.number_field :sets %>
  </div>

  <div class="field">
    <%= form.label :reps %>
    <%= form.text_field :reps %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
